<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head><title>Быстрый старт. Размещение интерактивной карты на странице</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><script src="https://api-maps.yandex.ru/2.1/?apikey=%apikey%&amp;lang=ru_RU" type="text/javascript">
  </script><script type="text/javascript">
    ymaps.ready(init);
    var myMap = ""
    function init() {
       myMap = new ymaps.Map("map", {
        center: [40.372966, 49.853128],
        zoom: 11
      });
      
      
       myMap.events.add('click', function (e) {
        if (!myMap.balloon.isOpen()) {
            var coords = e.get('coords');
            myMap.balloon.open(coords, {
                contentHeader:'Новый адрес',
                contentBody:'<p>Координаты: ' + [
                    coords[0].toPrecision(6),
                    coords[1].toPrecision(6)
                    ].join(', ') + '</p>',
                    contentFooter:'<button id="saveNewAddress" style = type="button" onclick = "createNewAddress()">Сохранить новый адрес</button>'
            });
        }
        else {
            myMap.balloon.close();
        }
    });
    }
    
    function createNewAddress(){
          
    }
    
    function removeAllPoints(){
      myMap.geoObjects.removeAll()    
    }

    function setPoints(lat,lng,pointContent) {
      var myPlacemark = new ymaps.Placemark([lat,lng],{
            balloonContent: pointContent
        });
      myMap.geoObjects.add(myPlacemark);
    }

  </script><style>
    #map {
      height: 100%;
    }
    
     #saveNewAddress {
      background-color:#ffdb4d;
      border-radius: 30px;
      padding:10;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style></head><body>
  <div id="map"></div>
</body></html>